@import "susy";
@import "breakpoint";

//variables
@import "variables";

//mixins
@import "mixins";

//partials
@import "buttons";
@import "nav";

//fonts
@import "fonts";

//Susy settings
$susy: (
  columns: 12,
  gutter-position: inside,
  gutters: 0,
  math: fluid,
  output: float,
);

*, :after, :before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', 'Helvetica', sans-serif;
	font-weight: 300;
}

h1, h2, h3, p {
	font-weight: normal;
	letter-spacing: 1px;
}


section {
	position: relative;
	clear: both;
}

.preloader {
	width: 100%;
	height: 100vh;
	background-color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 9999;
	
	@include breakpoint($phone) {
		display: none;
	}
	
	.container {

		img {
			opacity: 0;
		}

		span {
			display: block;
			width: 0px;
			height: 2px;
			margin-top: 1rem;
			background-color: $blue;
			
		}
	}
}

header#top {
	width: 100%;
	height: 700px;
	background: url(../img/header-bg.jpg) left center no-repeat;
	padding-top: 9rem;
	color: $darkblue;
	
	.container {
		@include container(90%);
		opacity: 0;
		
		@include breakpoint($desktop) {
			img {
				width: 400px;
			}
		}
		
		@include breakpoint($phone) {
			img {
				width: 100%;
			}
		}
	}
}

section#about {
	padding: 80px 0 100px;
	color: $blue;
	background-color: $white;
	
	.border-top {
		width: 100%;
		height: 250px;
		top: -240px;
		position: absolute;
		background: url(../img/about-border-top.png) no-repeat;
		@include background-size(cover);
	}
	
	.bar {
		width: 50px;
		height: 100%;
		position: absolute;
		left: 2%;
		top: 120px;
		background: url(../img/about-bar.jpg) no-repeat;
		@include background-size(contain);
		z-index: 100;
		
		@include breakpoint($tablet) {
			display: none;
		}
	}

	span.line {
		width: 25%;
		height: 2px;
		display: block;
		background-color: $darkblue;
		position: absolute;
		top: 170px;
		left: 0;
		@include breakpoint($tablet) {
			display: none;
		}
	}
	
	.container {
		@include container(1000px);
		
		.about-text {
			@include span(6 first);
			padding-right: 5rem;
			
			@include breakpoint($phone) {
				@include span(12);
				padding: 0 2rem;
			}
			
			h2 {
				font-size: 2.5rem;
			}

			p {
				font-size: 1.5rem;
			}
		}

		.about-img {
			@include span(6 last);
			@include breakpoint($phone) {
				@include span(12);
				padding: 0 2rem;
			}
			
			img {
				width: 100%;
			}
		}
	}
}

section#portfolio {
	padding: 100px 0;
	background-color: $lightgray;
	
	.bar {
		width: 50px;
		height: 100%;
		position: absolute;
		left: 2%;
		top: 100px;
		background: url(../img/portfolio-bar.jpg) no-repeat;
		@include background-size(contain);
		z-index: 100;
		
		@include breakpoint($tablet) {
			display: none;
		}
	}

	span.line {
		width: 25%;
		height: 2px;
		display: block;
		background-color: $darkblue;
		position: absolute;
		top: 133px;
		left: 0;
		
		@include breakpoint($tablet) {
			display: none;
		}
	}

	.container {
		@include container(1000px);
		position: relative;
		z-index: 200;
		img {
			width: 100%;
		}
		.row {
			.grid-1 {
				-moz-column-count: 2;
			    -webkit-column-count: 2;
			    column-count: 2;
			    column-gap: 2rem;
			    
			    @include breakpoint($phone) {
						-moz-column-count: 1;
					    -webkit-column-count: 1;
					    column-count: 1;
					        
					    .item {
					    	padding: 2rem;
					    }
					}

				}

			.grid-2 {
				margin-top: 2rem;
				.item {
					&:first-child {
					@include span(8);
					padding-right: 2rem;
					@include breakpoint($phone) {
						@include span(12);
						padding: 2rem;
					}
				}

					&:nth-child(2) {
						@include span(4);
						@include breakpoint($phone) {
							@include span(12);
						}
						
						img {
							&:nth-child(1) {
								padding-bottom: 1.5rem;
								@include breakpoint($phone) {
									padding: 2rem;
								}
							}
						}
					}
				}
				
			}

			.grid-3 {
				margin-top: 2rem;
				@include breakpoint($phone) {
					margin-top: 0;
				}
				
				.item {
					&:first-child {
						@include span(4);
						@include breakpoint($phone) {
							@include span(12);
						}
						
						img {
							&:nth-child(1) {
								padding-bottom: 2rem;
								@include breakpoint($phone) {
									padding: 2rem;
								}
							}
						}
					}

					&:nth-child(2) {
						@include span(8);
						padding-left: 2rem;
						@include breakpoint($phone) {
							@include span(12);
							padding: 2rem;
						}
						
						img {
							&:nth-child(1) {
								padding-bottom: 2rem;
							}
						}
						
					}
				}
			}

			
		}
	}
}

section#foto {
	width: 100%;
	padding: 200px 0;
	background: url(../img/foto-bg.jpg) no-repeat center center;
	background-attachment: fixed;
	
	.container {
		@include container(1000px);
		text-align: center; 
		
		h2 {
			color: $white;
			font-size: 2.5rem;
		}
	}
}

section#services {
	width: 100%;
	padding: 100px 0;
	background: url(../img/services-bg.jpg) no-repeat center center;
	
	.bar {
		width: 50px;
		height: 100%;
		position: absolute;
		left: 2%;
		top: 100px;
		background: url(../img/services-bar.jpg) no-repeat;
		@include background-size(contain);
		z-index: 100;
		
		@include breakpoint($tablet) {
			display: none;
		}
	}

	span.line {
		width: 10%;
		height: 2px;
		display: block;
		background-color: $darkblue;
		position: absolute;
		top: 133px;
		left: 0;
		
		@include breakpoint($tablet) {
			display: none;
		}
	}

	.container {
		@include container(1000px); 
		
		.service-content-1 {
			display: inline-block;
			width: 100%;
			
			.text {
				@include span(8 first);
				text-align: left;
				@include breakpoint($phone) {
					@include span(12);
					padding: 0 2rem;
				}
				
				.title {
					display: inline-block;
					text-align: right;
					padding: 1rem 1.5rem;
				}

				.description {
					width: 100%;
					display: inline-block;
					padding: 1.5rem;
					color: $white;
					background: rgb(19,29,35); /* Old browsers */
					background: -moz-linear-gradient(-45deg, rgb(19,29,35) 0%, rgb(44,59,68) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-45deg, rgb(19,29,35) 0%,rgb(44,59,68) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(135deg, rgb(19,29,35) 0%,rgb(44,59,68) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131d23', endColorstr='#2c3b44',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
					
					p {
						font-size: 1rem;
						font-family: 'Bebas Light', sans-serif;
					}

					p.strong {
						font-size: 1rem;
						font-family: 'Bebas Book', sans-serif;
					}

				}
			}
			.img {
				@include span(4 last);
				height: 350px;
				border-top: 2px solid $darkblue;
				border-right: 2px solid $darkblue;
				background: url(../img/service-img-1.jpg) no-repeat center center;
				@include background-size(cover);
				@include breakpoint($phone) {
					display: none;
				}
			}
		}

		.service-content-2 {
			display: inline-block;
			clear: both;
			width: 100%;
			margin-top: 3rem;
			margin-bottom: 3rem;
			
			.text {
				@include span(8 first);
				text-align: left;
				@include breakpoint($phone) {
					@include span(12);
					padding: 0 2rem;
				}
				
				.title {
					display: inline-block;
					text-align: right;
					padding: 1rem 1.5rem;
				}

				.description {
					width: 100%;
					display: inline-block;
					padding: 1.5rem;
					color: $white;
					background: rgb(19,29,35); /* Old browsers */
					background: -moz-linear-gradient(-45deg, rgb(19,29,35) 0%, rgb(44,59,68) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-45deg, rgb(19,29,35) 0%,rgb(44,59,68) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(135deg, rgb(19,29,35) 0%,rgb(44,59,68) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131d23', endColorstr='#2c3b44',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
					
					p {
						font-size: 1rem;
						font-family: 'Bebas Light', sans-serif;
					}

					p.strong {
						font-size: 1rem;
						font-family: 'Bebas Book', sans-serif;
					}

				}
			}
			.img {
				@include span(4 last);
				height: 450px;
				border-top: 2px solid $darkblue;
				border-right: 2px solid $darkblue;
				background: url(../img/service-img-2.jpg) no-repeat center center;
				@include background-size(cover);
				@include breakpoint($phone) {
					display: none;
				}
			}
		}

		.service-content-3 {
			display: inline-block;
			clear: both;
			width: 100%;
			
			.text {
				@include span(8 first);
				text-align: left;
				@include breakpoint($phone) {
					@include span(12);
					padding: 0 2rem;
				}
				
				.title {
					display: inline-block;
					text-align: right;
					padding: 1rem 1.5rem;
				}

				.description {
					width: 100%;
					display: inline-block;
					padding: 1.5rem;
					color: $white;
					background: rgb(19,29,35); /* Old browsers */
					background: -moz-linear-gradient(-45deg, rgb(19,29,35) 0%, rgb(44,59,68) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-45deg, rgb(19,29,35) 0%,rgb(44,59,68) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(135deg, rgb(19,29,35) 0%,rgb(44,59,68) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131d23', endColorstr='#2c3b44',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
					
					p {
						font-size: 1rem;
						font-family: 'Bebas Light', sans-serif;
					}

					p.strong {
						font-size: 1rem;
						font-family: 'Bebas Book', sans-serif;
					}

				}
			}
			.img {
				@include span(4 last);
				height: 450px;
				border-top: 2px solid $darkblue;
				border-right: 2px solid $darkblue;
				background: url(../img/service-img-3.jpg) no-repeat center center;
				@include background-size(cover);
				@include breakpoint($phone) {
					display: none;
				}
			}
		}
		
	}
}

section#articles {
	width: 100%;
	padding: 100px 0 80px;
	background: url(../img/articles-bg.jpg) no-repeat center center;
	@include background-size(cover);
	
	.bar {
		width: 50px;
		height: 100%;
		position: absolute;
		left: 2%;
		top: 100px;
		background: url(../img/articles-bar.jpg) no-repeat;
		@include background-size(contain);
		z-index: 100;
		@include breakpoint($tablet) {
			display: none;
		}
	}

	span.line {
		width: 10%;
		height: 2px;
		display: block;
		background-color: $darkblue;
		position: absolute;
		top: 133px;
		left: 0;
		@include breakpoint($tablet) {
			display: none;
		}
	}

	.container {
		@include container(1000px);
		
		.article-container {
			display: inline-block;
			width: 100%;
			padding: 2rem;
			background-color: transparentize($white, 0.3);
			margin-bottom: 3rem;
			
			h3 {
				font-size: 1.8rem;
				margin-top: 0;
				
				&:after {
					display: block;
					content: '';
					height: 2px;
					width: 50%;
					background-color: $darkblue;
					margin-top: 1rem;
				}

				a {
					text-decoration: none;
					color: $darkblue;
				}
			}

			p {
				letter-spacing: 1.5px;
			}
		}

	} 

}

#article-top {
	width: 100%;
	height: 400px;
	background: url(../img/article-top-bg.jpg) no-repeat center bottom;
	@include background-size(cover);
	color: $white;
	position: relative;
	
	.container {
		@include container(1100px);
		padding-top: 10rem;
		text-align: center;
	}
}

section#article-content {
	background-color: $white;
	
	.container {
		@include container(1100px);
		padding-top: 2rem;
		padding-bottom: 2rem;
		line-height: 1.5;
		font-family: 'Helvetica', sans-serif;
		
		@include breakpoint($tablet) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

footer {
	position: relative;
	width: 100%;
	padding: 80px 0 150px;
	color: $white;
	background: url(../img/contacts-bg.jpg) no-repeat center bottom;
	@include background-size(cover);
	
	.bar {
		width: 50px;
		height: 60%;
		position: absolute;
		left: 2%;
		top: 100px;
		background: url(../img/contacts-bar.jpg) no-repeat;
		@include background-size(contain);
		z-index: 100;
		@include breakpoint($tablet) {
			display: none;
		}
	}

	.container {
		@include container(1000px);
		
		.left-side {
			@include span(6 first);
			@include breakpoint($phone) {
					@include span(12);
					padding: 0 2rem;
				}
			
			h3 {
				font-size: 1.5rem;
			}
			p {
				font-family: 'Bebas Light', sans-serif;
			}
			
			input {
				width: 100%;
				height: 40px;
				padding-left: 1rem;
				margin-bottom: 1rem;
				font-family: 'Bebas Book', sans-serif;
				letter-spacing: 1px;
			}

			.form-btn {
				width: 100%;
				border: 2px solid $white;
				font-family: 'Bebas Book', sans-serif;
				
				&:hover {
					background-color: $white;
					color: $darkblue;
				}
			}
		}

		.right-side {
			@include span(6 last);
			text-align: right;
			@include breakpoint($phone) {
					@include span(12);
					padding: 0 2rem;
					text-align: left;
				}
			
			h3 {
				font-size: 1.5rem;
			}

			p {
				font-family: 'Bebas Light', sans-serif;
			}

			.address {
				margin-top: 3rem;
			}

			.social {
				margin-bottom: 0.5rem;
			}

			a {
				color: $white;
				margin-left: 1rem;
				
				i {
					font-size: 1.5rem;
				}
			}

			.copyright {
				margin-bottom: 0;
			}

			.copy-description {
				margin-top: 0.6rem;
			} 
		}
	}
}